<div class="conteiner-img-panfleto">
    <img class="img-panfleto" src="" alt="Smiley face">
</div>
<div class="conteiner-img-panfleto-detalhes">  
    <img id="panfleto" class="img-panfleto-detalhes" src="" alt="Smiley face">
    <br/>
    <br/>
    <label id="link-panfleto-sales"></label>
</div>

<style type="text/css" media="print" id="print">
    .img-panfleto {
        background-size: contain;
        width: 100%;
        background-repeat: no-repeat, repeat;
    }    
<!--  -->
    .print {
            display:block;
    }
<!--  -->
    .no-print { 
            display:none; 
    }
</style>